@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Poppins:wght@300&display=swap');
*{
  font-family: 'Poppins', sans-serif;
}
.navbar-nav > li{
  padding-right:5.5rem;
}
.nav-link{
  font-family: 'Poppins', sans-serif;
}
.carousel-inner {
  height: 700px;
}
.badge{
  z-index: 100;
}

.btn{
  margin-left: -25px;
  width: 200px;
}
.btn-outline-dark:active {
  color: black;
  background-color: none;
  border-color: #212529;
}
.btn-check:focus+.btn-outline-dark, .btn-outline-dark:focus {
  box-shadow:none;
}

#cat-btn:hover{
  color: black;
  background-color: transparent;
  
}
#cat-btn {
  font-size: 30px;
  width: auto;
}
#cat-pic:hover{
  border-radius: 25%!important;
  transition: 0.3s;
}
#cat-pic:visited{
  border-radius: 25%!important;
  transition: 0.3s;
}
#cat-pic{
  cursor: pointer;
  transition: 0.3s;
}
#cards{
  transition: .3s;
}
#cards:hover{
  transform: scale(1.2);
}
#hr{
  z-index: 100;
}
#loading{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 500px;
}
#instock{
  margin-left: 5px;
}
#check{
  color: blue;
}
#navbar{
  z-index: 100;

}
#nav-container{
  margin-left: 100px
}
#logo img{
  margin-inline-end: inherit;
  margin-right: 4rem!important;
  margin-left: -3rem!important;
}
#itemImage{
  margin-top: inherit;
}
#title{
  margin-top: inherit;
}
#user{
  width: auto;
}
#cart{
  width: auto;
  margin-left: auto;
}
#navbarSupportedContent{
  margin-left: inherit;
}
#icons{
  display: flex;
  margin: auto;
  margin-left: 200px;
}
#hot{
  color: red;
  z-index: 1000;
  width: 35px;
  height: 10p;
  height: 22px;
  position: absolute;
  margin-left: 111px;
  margin-top: -10px;
}
#price{
  color: red;
}
#cont{
  margin-top: 60px;
}
#img{
  margin-top: 60px;
}
#buy-btn:hover{
  background-color: white;
  color: #dc3545;
  transform: scale(1.2);
}
#buy-btn{
  transition: 0.3s;
  width: -webkit-fill-available;
}
#cart-btn{
  transition: 0.3s;
}
#cart-btn:hover{
  transform: scale(1.2);
}
#purchase-btn{
  margin-top: 60px;
}
#category{
  color: #aaa;
}
#category:hover{
  color: black;
}
#item-category{
  margin-top: 40px;
  color: #aaa;
}
.offers{
  display: flex;
  list-style: none;
  text-align: center;
  justify-content: center;
  margin-top: 150px;
}
.offer-text{

  margin-inline: 80px;
}
.get-offer{
  font-weight: 700;
  font-size: 257.14%;
}
.from-49{
  padding: 3px 0;
  background-color: #ffd5d5;
  transition: 0.3s;
}
.from-99{
  padding: 3px 0;
  background-color: #fff1d5;
  transition: 0.3s;
}
.from-399{
  padding: 3px 0;
  background-color: #e0f6ee;
  transition: 0.3s;
}
#ad{
  vertical-align: top;
	max-width: 100%;
	-moz-transition: all 0.4s;
	-webkit-transition: all 0.4s;
	transition: all 0.4s;
}
#ad:hover{
  -moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
  opacity: 0.7;
}
#ad-div{
  margin-top: 200px;
  position: relative;
	overflow: hidden;
	width: 1216.4px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
#addiv2{
  margin-top: 200px;
  width: 1300px;
  height: 350px
  /* max-width: 100%; */
}
#ad2{
  max-width: 100%;
}
#instagram{
  display: flex;
  flex-direction: row;
}
#img6{
  width: 415.46px;
  height: 415.45px;
  display: flex;
}
#img7{
  width: 415.46px;
  height: 415.45px;

}
#instagram{
  margin-top: 200px;
}
#in-btw{
  
  margin: auto;
  text-align: center;
}
#instalogo{
  color: #999;
  margin-top: 10px;
}
#instapara{
  color: #999;
  margin-top: 10px;
}
#gotoinsta{
  text-decoration: underline;
  cursor: pointer;
}
#gotoinsta:hover{
  color: #dc3545;
}
.policies{
  display: flex;
  list-style: none;
}
.policy{
  margin-inline: 60px;
}
#info{
  margin-top: 70px;
  display: flex;
  justify-content: center;
}
.footer{
  background-color: black;
  color: white;
}
.signup{
  text-align: center;
  padding-top: 70px;
}
.input{
  margin-top: 20px;
  padding-right: 150px;
  border-radius: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  background-color: transparent;
  border-color: #9e9e9e;
}
.email{
  display: flex;
  justify-content: center;
  margin-left: -30px;
}
.right-icon{
  display: flex;
  align-items: center;
  margin-left: -40px;
}
.features{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 100px;
}
.contact-us{
  display: flex;
  flex-direction: column;
  padding-inline: 60px;
}
.foots{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footerimg{
  margin-bottom: 10px;
}
.l2{
  color: #999;
}
#social{
  margin-right: 2px;
}
.orderby{
  
  border: none;
}
.filter{
  margin-right: 50px;
  border: none;
  background-color: none;
}
.setting{
  display: flex;
  margin-bottom: 70px;
  margin-left: 70%;

}
#filter{
  background-color: transparent;
  color: black;
  border: none;
}
#sort{
  background-color: transparent;
  color: black;
  border: none;
}
.signcont{
  width: 611px;
  /* display: flex; */
  /* justify-content: center; */
  margin: auto;
  position: relative;
  /* align-items: center; */
  top: 140px;
}
.createtext{
  margin-bottom: 80px;
}
.orderdetails{
  width: 611px;
  margin: auto;
  position: relative;
  top: 140px;
}
#exampleInputEmail1{
  width: 100%;

}
#namescont{
  display:flex;
  justify-content: space-between;
}
#namescont2{
  display:flex;
  justify-content: space-between;
  width: 80%;
  margin-right: 193px;
}
.buybtn2{
  margin-top: 20px;
  margin-left: 2px;
}
.createtext2{
  margin-bottom: 40px;
}
.orderplaced{
  width: 50%;
  position: relative;
  margin: auto;
  top: 300px;
}